.navigation-bar-w {
  background: linear-gradient(
    180deg,
    rgb(252, 238, 209) 0%,
    rgb(255, 222.83, 156.19) 100%
  );
  height: 126px;
  position: relative;
  width: 1440px;
}

.navigation-bar-w .notifications-instance {
  left: 1355px !important;
  position: absolute !important;
  top: 39px !important;
}

.navigation-bar-w .new-event {
  color: #ab5013;
  font-family: "Fredoka One", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 78px;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 416px;
}

.navigation-bar-w .message-square-instance {
  left: 1281px !important;
  position: absolute !important;
  top: 39px !important;
}

.navigation-bar-w .home-button {
  display: block;
  height: 84px;
  left: 36px;
  position: absolute;
  top: 21px;
  width: 84px;
}
