.size {
  height: 48px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 48px !important;
}

.size-16 {
  height: 16px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}

.size-20 {
  height: 20px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 20px !important;
}

.size-24 {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 24px !important;
}

.size-32 {
  height: 32px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 32px !important;
}

.size-40 {
  height: 40px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 40px !important;
}
