.eventtitleinputChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-8xs);
  background-color: var(--color-papayawhip);
  border: 2px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
}
.eventTitle {
  position: absolute;
  height: 75%;
  width: 47.21%;
  top: 12.5%;
  left: 2.91%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.eventtitleinput {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.eventtitleinputframed {
  position: absolute;
  top: 218px;
  left: 120px;
  width: 577px;
  height: 48px;
  display: none;
  font-size: var(--font-size-xl);
  color: var(--color-saddlebrown-100);
  font-family: var(--font-poppins);
}
.focusFrame {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--color-papayawhip);
  border: 2px solid var(--color-saddlebrown-200);
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  z-index: 0;
}
.text {
  position: relative;
  z-index: 1;
}
.placeholder {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-saddlebrown-100);
  z-index: 2;
}
.frame {
  position: absolute;
  top: -5px;
  left: 0px;
  background-color: var(--color-gray-200);
  width: 1px;
  height: 20px;
  overflow: hidden;
}
.caretIndicator {
  width: 1px;
  position: relative;
  background-color: var(--color-white);
  height: 10px;
  display: none;
  z-index: 3;
}
.aminputDontRename {
  position: absolute;
  top: 218px;
  left: 120px;
  border-radius: var(--br-8xs);
  background-color: var(--color-papayawhip);
  border: 2px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 577px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.aminputDontRename1 {
  position: absolute;
  top: 320px;
  left: 120px;
  border-radius: var(--br-8xs);
  background-color: var(--color-papayawhip);
  border: 2px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 299px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.aminputDontRename2 {
  position: absolute;
  top: 320px;
  left: 581px;
  border-radius: var(--br-8xs);
  background-color: var(--color-papayawhip);
  border: 2px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 169px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.aminputDontRename3 {
  position: absolute;
  top: 320px;
  left: 919px;
  border-radius: var(--br-8xs);
  background-color: var(--color-papayawhip);
  border: 2px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 169px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.newEventCreation {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #f2feff, #d2fff5);
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
