.pollbuttonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background: linear-gradient(
    180deg,
    var(--color-papayawhip),
    var(--color-navajowhite)
  );
}
.pollbuttonItem {
  position: absolute;
  height: 62.5%;
  width: 43.75%;
  top: 18.75%;
  right: 29.17%;
  bottom: 18.75%;
  left: 27.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pollbutton {
  position: absolute;
  top: 6px;
  left: 153px;
  width: 48px;
  height: 48px;
}
