.profile {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile1 {
  position: absolute;
  height: 7.81%;
  width: 67.34%;
  top: 54.17%;
  right: 16.2%;
  bottom: 38.03%;
  left: 16.46%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-papayawhip);
  font-family: var(--font-fredoka-one);
}
