.profile-screen {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-screen .profile-2 {
  background: linear-gradient(
    180deg,
    rgb(242.25, 254.58, 255) 0%,
    rgb(210.37, 255, 244.59) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
  height: 1691px;
  position: relative;
  width: 1440px;
}

.profile-screen .navigation-bar-w-4 {
  background: linear-gradient(
    180deg,
    rgb(252, 238, 209) 0%,
    rgb(255, 222.83, 156.19) 100%
  );
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.profile-screen .notifications-5 {
  left: 1355px !important;
  position: absolute !important;
  top: 39px !important;
}

.profile-screen .new-event-4 {
  color: #ab5013;
  font-family: "Fredoka One", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 78px;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 416px;
}

.profile-screen .message-square-5 {
  left: 1281px !important;
  position: absolute !important;
  top: 39px !important;
}

.profile-screen .home-button-6 {
  display: block;
  height: 84px;
  left: 36px;
  position: absolute;
  top: 21px;
  width: 84px;
}

.profile-screen .footer-7 {
  background: linear-gradient(
    180deg,
    rgb(252, 238, 209) 0%,
    rgb(255, 222.83, 156.19) 100%
  );
  background-color: transparent;
  height: 280px;
  left: 0;
  position: absolute;
  top: 1411px;
  width: 1440px;
}

.profile-screen .overlap-39 {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
  border-radius: 42px;
  height: 84px;
  left: 1311px;
  position: absolute;
  top: 161px;
  width: 84px;
}

.profile-screen .line-10 {
  height: 59px;
  left: 12px;
  position: absolute;
  top: 10px;
  width: 59px;
}

.profile-screen .line-11 {
  height: 63px;
  left: 9px;
  position: absolute;
  top: 8px;
  width: 63px;
}

.profile-screen .overlap-40 {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
  border-radius: 42px;
  height: 84px;
  left: 1215px;
  position: absolute;
  top: 161px;
  width: 84px;
}

.profile-screen .overlap-41 {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
  border-radius: 42px;
  height: 84px;
  left: 1119px;
  position: absolute;
  top: 161px;
  width: 84px;
}

.profile-screen .overlap-group-10 {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
  border-radius: 42px;
  height: 84px;
  left: 1023px;
  position: absolute;
  top: 161px;
  width: 84px;
}

.profile-screen .text-wrapper-49 {
  color: #ab5013;
  font-family: "Fredoka One", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 74px;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 232px;
}

.profile-screen .XXX-XXX-XXXX-5 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 500;
  height: 152px;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 92px;
  width: 494px;
}

.profile-screen .overlap-42 {
  background-color: #fceed1;
  box-shadow: 0px 4px 4px #00000040;
  height: 535px;
  left: 909px;
  position: absolute;
  top: 169px;
  width: 38px;
}

.profile-screen .rectangle-23 {
  background-color: #ad6737;
  box-shadow: 0px 4px 4px #00000040;
  height: 72px;
  position: relative;
  top: 27px;
}

.profile-screen .user-profile-icon-5 {
  left: 78px !important;
  position: absolute !important;
  top: 239px !important;
}

.profile-screen .icon-instance-node {
  height: 92px !important;
  left: 24px !important;
  position: absolute !important;
  top: 24px !important;
  width: 92px !important;
}

.profile-screen .text-wrapper-50 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 26px;
  left: 69px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 393px;
  width: 168px;
}

.profile-screen .overlap-43 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 48px;
  left: 80px;
  position: absolute;
  top: 446px;
  width: 411px;
}

.profile-screen .text-wrapper-51 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 390px;
}

.profile-screen .overlap-44 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 48px;
  left: 80px;
  position: absolute;
  top: 516px;
  width: 281px;
}

.profile-screen .text-wrapper-52 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 260px;
}

.profile-screen .overlap-45 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 48px;
  left: 80px;
  position: absolute;
  top: 586px;
  width: 281px;
}

.profile-screen .overlap-46 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 48px;
  left: 381px;
  position: absolute;
  top: 586px;
  width: 233px;
}

.profile-screen .text-wrapper-53 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 211px;
}

.profile-screen .overlap-47 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 48px;
  left: 381px;
  position: absolute;
  top: 515px;
  width: 233px;
}

.profile-screen .text-wrapper-54 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 38px;
  left: 510px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 445px;
  width: 134px;
}

.profile-screen .overlap-48 {
  height: 361px;
  left: 66px;
  position: absolute;
  top: 746px;
  width: 846px;
}

.profile-screen .overlap-49 {
  height: 361px;
  left: 0;
  position: absolute;
  top: 0;
  width: 846px;
}

.profile-screen .line-12 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 846px;
}

.profile-screen .text-wrapper-55 {
  color: #ab5013;
  font-family: "Fredoka One", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 142px;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 381px;
}

.profile-screen .image-17 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 237px;
  left: 79px;
  position: absolute;
  top: 124px;
  width: 360px;
}

.profile-screen .image-18 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 237px;
  left: 474px;
  position: absolute;
  top: 123px;
  width: 360px;
}

.profile-screen .image-19 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 237px;
  left: 935px;
  position: absolute;
  top: 869px;
  width: 360px;
}

.profile-screen .image-20 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 237px;
  left: 145px;
  position: absolute;
  top: 1148px;
  width: 360px;
}

.profile-screen .image-21 {
  background-color: #fceed1;
  border: 2px solid;
  border-color: #ab5013;
  border-radius: 5px;
  height: 237px;
  left: 540px;
  position: absolute;
  top: 1147px;
  width: 360px;
}

.profile-screen .overlap-50 {
  background: linear-gradient(
    180deg,
    rgb(252, 238, 209) 0%,
    rgb(255, 222.83, 156.19) 100%
  );
  box-shadow: 0px 4px 4px #00000040;
  height: 621px;
  left: 982px;
  position: absolute;
  top: 126px;
  width: 458px;
}

.profile-screen .overlap-51 {
  background: linear-gradient(
    180deg,
    rgb(255, 128, 164) 0%,
    rgb(255, 82.87, 131.67) 100%
  );
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 458px;
}

.profile-screen .text-wrapper-56 {
  color: #ffde9c;
  font-family: "Fredoka One", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 38px;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 8px;
  white-space: nowrap;
  width: 310px;
}

.profile-screen .overlap-52 {
  height: 163px;
  left: 22px;
  position: absolute;
  top: 86px;
  width: 417px;
}

.profile-screen .text-wrapper-57 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 393px;
}

.profile-screen .text-wrapper-58 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
  width: 393px;
}

.profile-screen .text-wrapper-59 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 393px;
}

.profile-screen .text-wrapper-60 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 96px;
  width: 393px;
}

.profile-screen .text-wrapper-61 {
  color: #ab5013;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 35px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 128px;
  width: 417px;
}

.profile-screen .finish-set-up-button-wrapper {
  display: block;
  height: 90px;
  left: 29px;
  position: absolute;
  top: 511px;
  width: 400px;
}

.profile-screen .finish-set-up-wrapper {
  background: linear-gradient(
    180deg,
    rgb(255, 128, 164) 0%,
    rgb(255, 82.87, 131.67) 100%
  );
  border-radius: 35px;
  box-shadow: 0px 4px 4px #00000040;
  height: 90px;
  position: relative;
}

.profile-screen .finish-set-up-2 {
  color: #ffde9c;
  font-family: "Fredoka One", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 64px;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 11px;
  width: 379px;
}
