.event-chat {
  background-color: #ff5283;
  box-shadow: 0px 4px 4px #00000040;
  height: 58px;
  position: relative;
  width: 160px;
}

.event-chat .text-wrapper-10 {
  color: #fceed1;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 42px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 7px;
  width: 142px;
}

.event-chat:hover {
  background-color: #ffa8c1;
}

.event-chat:hover .text-wrapper-10 {
  color: #ab5013;
}
